# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# ▗▖ ▗▖ ▗▄▖▗▄▄▄▖▗▖ ▗▖▗▖  ▗▖▗▄▄▖    ▗▄▄▄  ▗▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖▗▖   ▗▄▄▄▖ ▗▄▄▖
# ▐▌▗▞▘▐▌ ▐▌ █  ▐▌ ▐▌ ▝▚▞▘▐▌       ▐▌  █▐▌ ▐▌ █  ▐▌     █  ▐▌   ▐▌   ▐▌
# ▐▛▚▖ ▐▛▀▜▌ █  ▐▛▀▜▌  ▐▌  ▝▀▚▖    ▐▌  █▐▌ ▐▌ █  ▐▛▀▀▘  █  ▐▌   ▐▛▀▀▘ ▝▀▚▖
# ▐▌ ▐▌▐▌ ▐▌ █  ▐▌ ▐▌  ▐▌ ▗▄▄▞▘    ▐▙▄▄▀▝▚▄▞▘ █  ▐▌   ▗▄█▄▖▐▙▄▄▖▐▙▄▄▖▗▄▄▞▘
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
#
# Author: Katherine C. (katherine@kaytea.dev)
# Source: http://github.com/KatieUmbra/Dotfiles
# License: MIT
# Description: main yazi config file

[mgr]
ratio = [2, 3, 3]
sort_by = "extension"
sort_dir_first = true
linemode = "size"
show_symlink = false

[opener]
play = [
    { run = 'vlc "$@"', orphan = true, for = "linux" }
]
edit = [
    { run = '$EDITOR "$@"', block = true, for = "linux" }
]
open = [
    { run = 'xdg-open "$@"', desc = "Open" }
]
md = [
    { run = 'mdless "$@"', block = true, desc = "Read markdown file", for = "linux" }
]
pdf = [
    { run = "tdf $@", block = true, desc = "Read PDF file", for = "linux" }
]
img = [
    { run = "qimgv $@", orphan = true, desc = "View image file", for = "linux" }
]

[open]
prepend_rules = [
    { name = "*.md", use = ["md", "edit"] },
    { name = "*.pdf", use = ["pdf"] },
    { name = "*.png", use = ["img"] },
    { name = "*.jpg", use = ["img"] },
    { name = "*.jpeg", use = ["img"] },
    { name = "*.gif", use = ["img"] },
    { name = "*.webp", use = ["img"] },
]

[plugin]
prepend_previewers = [
    { name = "*.md", run = "mdcat" },
    { mime = 'audio/mpegurl', run = 'code' },
    { mime = 'audio/*', run = 'preview-audio' },
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    { mime = "application/postscript", run = "mediainfo" },
]
prepend_fetchers = [
    { id = "git", name = "*", run = "git" },
    { id = "git", name = "*/", run = "git" },
    { id="audio", mime = 'audio/mpegurl', run = 'code' },
    { id="audio", mime = 'audio/*', run = 'preview-audio' },
]
prepend_preloaders = [
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    { mime = "application/postscript", run = "mediainfo" },
]

# Supress deprecation warnings
[manager]
_v4_suppress_deprecation_warnings = true

[tasks]
image_alloc      = 1073741824
