[submodule "eggs/zsh/plugins/zsh-autopair"]
	path = eggs/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "eggs/zsh/plugins/zsh-autosuggestions"]
	path = eggs/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "eggs/zsh/plugins/zsh-syntax-highlighting"]
	path = eggs/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "eggs/zsh/plugins/zsh-z"]
	path = eggs/zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "eggs/nvim"]
	path = eggs/nvim
	url = https://github.com/KatieUmbra/neovim
[submodule "eggs/wofi/wofi-emoji"]
	path = eggs/wofi/wofi-emoji
	url = https://github.com/Zeioth/wofi-emoji.git
[submodule "eggs/yazi/plugins/restore.yazi"]
	path = eggs/yazi/plugins/restore.yazi
	url = https://github.com/boydaihungst/restore.yazi
