/*
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* ▗▖ ▗▖ ▗▄▖▗▄▄▄▖▗▖ ▗▖▗▖  ▗▖▗▄▄▖    ▗▄▄▄  ▗▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖▗▖   ▗▄▄▄▖ ▗▄▄▖
* ▐▌▗▞▘▐▌ ▐▌ █  ▐▌ ▐▌ ▝▚▞▘▐▌       ▐▌  █▐▌ ▐▌ █  ▐▌     █  ▐▌   ▐▌   ▐▌   
* ▐▛▚▖ ▐▛▀▜▌ █  ▐▛▀▜▌  ▐▌  ▝▀▚▖    ▐▌  █▐▌ ▐▌ █  ▐▛▀▀▘  █  ▐▌   ▐▛▀▀▘ ▝▀▚▖
* ▐▌ ▐▌▐▌ ▐▌ █  ▐▌ ▐▌  ▐▌ ▗▄▄▞▘    ▐▙▄▄▀▝▚▄▞▘ █  ▐▌   ▗▄█▄▖▐▙▄▄▖▐▙▄▄▖▗▄▄▞▘
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* 
* Author: Katherine C. (katherine@kaytea.dev)
* Source: http://github.com/KatieUmbra/Dotfiles
* License: MIT
* Description: stylesheet for wlogout
*/

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
    /* {# rcol(data.color.text) #} */
    border-color: #eceff4;
    /* {# rcol(data.color.text) #} */
    text-decoration-color: #eceff4;
    /* {# rcol(data.color.text) #} */
    color: #eceff4;
    /* {# rcol(data.color.base) #} */
    background-color: #2e3440;
    border-style: solid;
    /* {# rnum(data.styling.border.size) #} */
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    /* {# rnum(data.styling.margin.xl) #} */
    margin: 2rem;
}

button:focus, button:active, button:hover {
    /* {# rcol(data.color.overlay) #} */
	background-color: #4c566a;
	outline-style: none;
}

#lock {
    background-image: image(url("../eww/icons/lock.svg"));
}

#logout {
    background-image: image(url("../eww/icons/wlogout.svg"));
}

#suspend {
    background-image: image(url("../eww/icons/suspend.svg"));
}

#niri {
    background-image: image(url("../eww/icons/leave.svg"));
}

#shutdown {
    background-image: image(url("../eww/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("../eww/icons/reboot.svg"));
}
