/*
*-----------------------------------------------
*              Kathy's Dotfiles
*-----------------------------------------------
* Author: Katherine C. (katherine@kaytea.dev)
* Source: http://github.com/KatieUmbra/Dotfiles
* License: MIT
* Description: styling file for eww
*/

$base:    #232136; // {< rcol(data.color.base) >}
$surface: #2a273f; // {< rcol(data.color.surface) >}
$overlay: #393552; // {< rcol(data.color.overlay) >}
$muted:   #6e6a86; // {< rcol(data.color.muted) >}
$subtle:  #908caa; // {< rcol(data.color.subtle) >}
$text:    #e0def4; // {< rcol(data.color.text) >}
$love:    #eb6f92; // {< rcol(data.color.love) >}
$gold:    #f6c177; // {< rcol(data.color.gold) >}
$rose:    #ea9a97; // {< rcol(data.color.rose) >}
$pine:    #3e8fb0; // {< rcol(data.color.pine) >}
$foam:    #9ccfd8; // {< rcol(data.color.foam) >}
$iris:    #c4a7e7; // {< rcol(data.color.iris) >}
$hl:      #2a283e; // {< rcol(data.color.hl) >}
$hm:      #44415a; // {< rcol(data.color.hm) >}
$hh:      #56526e; // {< rcol(data.color.hh) >}

/*
* =============================
*  section: GENERAL
* =============================
*/
@keyframes bg-rotate {
    0% {
        background-image: linear-gradient(0deg, $base, $surface, $overlay);
        background-position: 0% 50%;
    }
    50% {
        background-image: linear-gradient(180deg, $base, $surface, $overlay);
        background-position: 100% 50%;
    }
    100% {
        background-image: linear-gradient(360deg, $base, $surface, $overlay);
        background-position: 0% 50%;
    }
}

* {
    all: unset;
    font-family: "Work Sans", "MonaspaceNeon-Regular", serif;
    font-size: 16pt;
}

.main-widget {
    // {# rnum(data.styling.padding.large) #}
    padding: 0.75rem;
    background: $base;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
}

tooltip {
    background-color: $base;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
}

.bar-element {
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    background-color: $surface;
    // {# rnum(data.styling.padding.medium) #}
    padding: 0.5rem;
}

/*
* =============================
*  section: LAUNCHER
* =============================
*/
.launcher-button {
    image {
        // {# rnum(data.styling.margin.largest) #}
        margin: 1rem;
    }
}

/*
* =============================
*  section: SHORTCUTS
* =============================
*/
.shortcuts-widget {
    * {
        margin: 0
                // {# rnum(data.styling.margin.small) #}
                0.25rem;
    }
}

/*
* =============================
*  section: SYSTEM PROGRESS
* =============================
*/
.progress-general {
    margin: 0 
    // {# rnum(data.styling.margin.small) #}
    0.25rem;
    background-color: $overlay;
    image {
        // {# rnum(data.styling.margin.medium) #}
        margin: 0.5rem;
    }
}

.progress-battery {
    color: $love;
}

.progress-ram {
    color: $gold;
}

.progress-disk {
    color: $foam;
}

.progress-cpu {
    color: $iris;
}

/*
* =============================
*  section: TRAY
* =============================
*/
.tray-widget {
    background-color: $base;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    // {# rnum(data.styling.padding.largest) #}
    padding: 1rem;
    image {
        // {# rnum(data.styling.padding.medium) #}
        padding: 0.5rem;
        // {# rnum(data.styling.margin.tiny) #}
        margin: 0.125rem;
        background-color: $overlay;
        // {# rnum(data.styling.border.rounding) #}
        border-radius: 5px;
    }
}

.tray-button {
    image {
        padding: 0 
        // {# rnum(data.styling.padding.large) #}
        0.75rem;
    }
}

.popup {
    background-color: $base;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    menu {
        // {# rnum(data.styling.padding.medium) #}
        padding: 0.5;
    }
}


/*
* =============================
*  section: WORKSPACES
* =============================
*/
.workspace-entry { 
    margin: 0.5rem;
}

.title {
    // {# rnum(data.font.size.title) #}
    font-size: 16pt;
    font-weight: bold;
}

/*
* =============================
*  section: BAR PLAYER
* =============================
*/
.playerbar-widget {
    * {
        margin: 0
        // {# rnum(data.styling.margin.small) #}
                0.25rem;
    }
}

.bar-image {
    background-repeat: no-repeat;
    background-size: cover;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
}

.playerbar-title {
    color: $text;
    // {# rnum(data.font.size.small) #}
    font-size: 12pt;
    font-weight: bold;
}
.playerbar-subtitle {
    color: $text;
    // {# rnum(data.font.size.tiny) #}
    font-size: 10pt;
}

.playerbar-text {
    border-right-style: solid;
}

/*
* =============================
*  section: SYSTEM INFO
* =============================
*/
.system-widget {
    image {
        // {# rnum(data.styling.margin.small) #}
        margin: 0.25rem 
        // {# rnum(data.styling.margin.medium) #}
        0.5rem;
    }
    box {
        label {
            // {# rnum(data.styling.margin.tiny) #}
            margin: 0.125rem
            // {# rnum(data.styling.margin.xl) #}
            2rem;
            color: $text;
        }
    }
}

.time-label {
    // {# rnum(data.font.size.small) #}
    font-size: 12pt;
}

.date-label {
    // {# rnum(data.font.size.speck) #}
    font-size: 8pt;
}

/*
* =============================
*  section: MENU
* =============================
*/
.menu-widget {
    background: linear-gradient(-45deg, $base, $surface, $overlay);
    background-size: 400% 400%;
    animation: bg-rotate 30s linear infinite;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    // {# rnum(data.styling.padding.largest) #}
    padding: 1rem;
}

/*
* =============================
*  section: MENU TOP INFO
* =============================
*/
.menutime-label {
    color: $text;
    font-weight: bold;
}

.menu-date {
    color: $text;
    // {# rnum(data.styling.margin.largest) #}
    margin: 1rem;
}

/*
* =============================
*  section: MENU TOGGLES
* =============================
*/
.toggles-widget {
    margin: 0rem
    // {# rnum(data.styling.margin.medium) #}
    0.5rem;
}

.toggle {
    background-color: $overlay;
    border-radius: 1000px;
    image {
        // {# rnum(data.styling.padding.largest) #}
        padding: 1rem;
    }
}

.toggle-on {
      background-image: linear-gradient(225deg, $foam 0%, $pine 100%);
}

/*
* =============================
*  section: MENU SLIDERS
* =============================
*/
.sliders-widget {
    all: unset;
    // {# rnum(data.styling.margin.medium) #}
    margin: 0.5rem;
    .volume-slider trough highlight {
          background-image: linear-gradient(to right, $love 0%, $rose 100%);
          // {# rnum(data.styling.border.rounding) #}
          border-radius: 5px;
    }
    .brightness-slider trough highlight {
          background-image: linear-gradient(to right, $pine 0%, $foam 100%);
          // {# rnum(data.styling.border.rounding) #}
          border-radius: 5px;
    }
    scale trough {
          all: unset;
          background-color: $overlay;
          // {# rnum(data.styling.border.rounding) #}
          border-radius: 5px;
          min-height: 1rem;
          min-width: 70px;
          // {# rnum(data.styling.margin.large) #}
          margin: 0.75rem;
          margin-right: 0;
    }
}

/*
* =============================
*  section: MENU PLAYER
* =============================
*/
.playerbg {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    // {# rnum(data.styling.padding.largest) #}
    padding:  1rem
              // {# rnum(data.styling.padding.xl) #}
              2rem;
    // {# rnum(data.styling.margin.medium) #}
    margin: 0.5rem;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    label {
        color: white;
        // {# rnum(data.styling.margin.medium) #}
        margin: 0.5rem;
        box-shadow: black;
    }
    .player-button-container {
        // {# rnum(data.styling.margin.medium) #}
        padding: 0.5rem
                 3rem;
    }
    .progressbar {
        // {# rnum(data.styling.margin.medium) #}
        margin: 0.5rem;
        background-color: rgba(0,0,0,0.75);
        // {# rnum(data.styling.border.rounding) #}
        border-radius: 5px;
        }
    progress {
        background-color: $text;
    }
    eventbox {
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

/*
* =============================
*  section: CALENDAR
* =============================
*/
.calendar-widget {
    // {# rnum(data.styling.padding.largest) #}
    padding: 1rem;
    background-color: $base;
    // {# rnum(data.styling.border.rounding) #}
    border-radius: 5px;
    .calendar-wrapper {
        background-color: $surface;
        // {# rnum(data.styling.border.rounding) #}
        border-radius:5px;
        // {# rnum(data.styling.padding.largest) #}
        padding: 1rem;
        color: $subtle;
        calendar {
            &:indeterminate {
                color: $hm;
            }
            &:selected {
                font-weight: bolder;
                color: $text;
            }
            .header {
                font-weight: bolder;
                color: $iris;
            }
            .button {
                color: $iris;
            }
            .highlight {
                color: $foam;
            }
        }
    }
}

.calendar-time {
    font-size: 30pt;
    // {# rnum(data.styling.margin.largest) #}
    margin: 1rem;
    margin-bottom: 0;
}

.calendar-date {
    font-size: 15pt;
    // {# rnum(data.styling.margin.largest) #}
    margin: 1rem;
    color: $hh;
}
