/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
▗▖ ▗▖ ▗▄▖▗▄▄▄▖▗▖ ▗▖▗▖  ▗▖▗▄▄▖    ▗▄▄▄  ▗▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖▗▖   ▗▄▄▄▖ ▗▄▄▖
▐▌▗▞▘▐▌ ▐▌ █  ▐▌ ▐▌ ▝▚▞▘▐▌       ▐▌  █▐▌ ▐▌ █  ▐▌     █  ▐▌   ▐▌   ▐▌   
▐▛▚▖ ▐▛▀▜▌ █  ▐▛▀▜▌  ▐▌  ▝▀▚▖    ▐▌  █▐▌ ▐▌ █  ▐▛▀▀▘  █  ▐▌   ▐▛▀▀▘ ▝▀▚▖
▐▌ ▐▌▐▌ ▐▌ █  ▐▌ ▐▌  ▐▌ ▗▄▄▞▘    ▐▙▄▄▀▝▚▄▞▘ █  ▐▌   ▗▄█▄▖▐▙▄▄▖▐▙▄▄▖▗▄▄▞▘
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

Author: Katherine C. (katherine@kaytea.dev)
Source: http://github.com/KatieUmbra/Dotfiles
License: MIT
Description: style file for wofi
*/

* {
    /* {# replace_quoted(data.font.family.regular) #} */
    font-family: "WorkSans", serif;
    /* {# rnum(data.font.size.title) #} */
    font-size: 16pt;
    outline: none;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
}

window {
    /* {# rcol(data.color.base) #} */
    background-color: #232136;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
}

#input {
    border-color: transparent;
    /* {# rnum(data.styling.border.size) #} */
    border-width: 0px;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
    /* {# rcol(data.color.base) #} */
    background-color: #232136;
    min-height: 4rem;
    /* {# rnum(data.styling.padding.large) #} */
    padding: 0.75rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem;
    /* {# rcol(data.color.text) #} */
    color: #e0def4;
    box-shadow: none;
    margin: 4rem 2rem;
}

#inner-box {
    /* {# rcol(data.color.base) #} */
    background-color: #232136;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
}

#outer-box {
    /* {# replace_in(`"`, "/home/" + SYSTEM.username + "/.config/yolk/eggs/assets/wofi-bg.svg") #} */
    background-image: url("/home/Kathy/.config/yolk/eggs/assets/wofi-bg.svg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
}

#scroll {
    /* {# rnum(data.styling.padding.xl) #} */
    padding: 2rem;
    /* {# rcol(data.color.base) #} */
    background-color: #232136;
    border-radius:  0 0
    /* {# rnum(data.styling.border.rounding) #} */
                    10px
    /* {# rnum(data.styling.border.rounding) #} */
                    10px;
}

#entry {
    /* {# rnum(data.styling.padding.large) #} */
    padding: 0.75rem;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 10px;
}

#text {
    /* {# rnum(data.styling.padding.large) #} */
    margin: 0.75rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem;
    /* {# rcol(data.color.text) #} */
    color: #e0def4;
} 

#entry:selected {
    /* {# rcol(data.color.overlay) #} */
    background-color: #393552;
    /* {# rnum(data.styling.border.rounding) #} */
    outline: none;
}
