/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
▗▖ ▗▖ ▗▄▖▗▄▄▄▖▗▖ ▗▖▗▖  ▗▖▗▄▄▖    ▗▄▄▄  ▗▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖▗▖   ▗▄▄▄▖ ▗▄▄▖
▐▌▗▞▘▐▌ ▐▌ █  ▐▌ ▐▌ ▝▚▞▘▐▌       ▐▌  █▐▌ ▐▌ █  ▐▌     █  ▐▌   ▐▌   ▐▌   
▐▛▚▖ ▐▛▀▜▌ █  ▐▛▀▜▌  ▐▌  ▝▀▚▖    ▐▌  █▐▌ ▐▌ █  ▐▛▀▀▘  █  ▐▌   ▐▛▀▀▘ ▝▀▚▖
▐▌ ▐▌▐▌ ▐▌ █  ▐▌ ▐▌  ▐▌ ▗▄▄▞▘    ▐▙▄▄▀▝▚▄▞▘ █  ▐▌   ▗▄█▄▖▐▙▄▄▖▐▙▄▄▖▗▄▄▞▘
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

Author: Katherine C. (katherine@kaytea.dev)
Source: http://github.com/KatieUmbra/Dotfiles
License: MIT
Description: style file for wofi
*/

* {
    /* {# replace_quoted(data.font.family.regular) #} */
    font-family: "WorkSans", serif;
    /* {# rnum(data.font.size.title) #} */
    font-size: 16pt;
    outline: none;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

window {
    /* {# rcol(data.color.base) #} */
    background-color: #191724;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

#input {
    border-color: transparent;
    /* {# rnum(data.styling.border.size) #} */
    border-width: 1px;
    /* {# rnum(data.styling.border.rounding) #} */
    border-top-left-radius: 5px;
    /* {# rnum(data.styling.border.rounding) #} */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* {# rcol(data.color.base) #} */
    background-color: #191724;
    min-height: 4rem;
    /* {# rnum(data.styling.padding.large) #} */
    padding: 0.75rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem;
    /* {# rcol(data.color.hh) #} */
    border-bottom-color: #524f67;
    /* {# rcol(data.color.text) #} */
    color: #e0def4;
    box-shadow: none;
}

#inner-box {
    /* {# rcol(data.color.base) #} */
    background-color: #191724;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

#outer-box {
    /* {# rcol(data.color.base) #} */
    background-color: #191724;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

#scroll {
    /* {# rnum(data.styling.padding.xl) #} */
    padding: 2rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem;
    /* {# rcol(data.color.base) #} */
    background-color: #191724;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

#entry {
    /* {# rnum(data.styling.padding.large) #} */
    padding: 0.75rem;
    /* {# rnum(data.styling.border.rounding) #} */
    border-radius: 5px;
}

#text {
    /* {# rnum(data.styling.padding.large) #} */
    margin: 0.75rem
    /* {# rnum(data.styling.padding.xl) #} */
    2rem;
    /* {# rcol(data.color.text) #} */
    color: #e0def4;
} 

#entry:selected {
    /* {# rcol(data.color.overlay) #} */
    background-color: #26233a;
    /* {# rnum(data.styling.border.rounding) #} */
    outline: none;
}
